.Main {
  text-align: center;
}

html, body{
overflow-x: hidden;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: Main-logo-spin infinite 20s linear;
  }
}

.Main-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main-link {
  color: #61dafb;
}

@keyframes Main-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: '300px'
}

.center1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: '300px';
  gap: 30px;
}

.circlepicker1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: '300px';
  gap: 30px;
}

.reaction1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: '300px';
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  margin: auto;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.allreaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.reaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pptsol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  gap: 30px;
  bottom: 0;
  margin-left: 5%;
  margin-bottom: 5%;
}

.columnFlow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rowFlow2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.rowFlow {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  gap: 0px;
}

.pptsolFlow {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 0.9em;
  white-space: nowrap;
}

.pptsolFlow2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  font-size: 0.9em;
  white-space: nowrap;
}

.allFlows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.flowsButtons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-left: 5%;
}

.flowsButtons2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 2%;
}

.bottomright {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  gap: 30px;
  bottom: 0;
  right: 0;
  margin-right: 2%;
  margin-bottom: 2%;
}

.displaypptsol {
  display: flex;
  flex-direction: column;
}


.modal-footer {
  flex-direction: space-between !important;
}

.footerButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.colorpicker {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 1px;
}

.circlepicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  gap: 10px;
/*  margin-top: 10%; */
}

.circle-picker {
  width: 70px !important;
  div[title="#ffffff"] {
    border: 1px solid #999;
  }
  &.white-selected {
    div[title="#ffffff"] {
      box-shadow: #999 0 0 0 3px inset !important;
      border: none;
      &:focus {
        box-shadow: #999 0 0 0 3px inset, 0 0 5px #999 !important;
      }
    }
  }

  div[title="#colorless"] {
    border: 0px solid #999;
    font-size: 1em;
    content: "";
    z-index: -1;
  }
  div[title="#colorless"]:after {
    border: 0px solid #999;
    content: "INC";
    font-size: 1em;
    z-index: -1;
  }
  &.colorless-selected {
    div[title="#colorless"] {
      border: none;
      text-decoration-line: underline;
      text-decoration-color: #999;
      color: #999;
    }
  }

  div[title="#noppt"] {
    border: 0px solid #999;
    font-size: 1em;
    content: "";
    z-index: -1;
  }
  div[title="#noppt"]:after {
    border: 0px solid #999;
    content: "SIN PPT";
    font-size: 1em;
    z-index: -1;
  }
  &.noppt-selected {
    div[title="#noppt"] {
      border: none;
      text-decoration-line: underline;
      text-decoration-color: #999;
      color: #999;
    }
  }
}

.btn-primary {
  opacity: 0.8 !important;
  &.default:hover {
    border: 1px solid #222, !important;
    opacity: 1.0 !important;
  }&.select {
    color: #999 !important;
  }
}

.button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


